    * {
        box-sizing: border-box;
        scroll-behavior: smooth;
    }
    div{
        margin: 0;
    }
    
    /* class name for responsive full width items*/
    @media only screen and (max-width: 620px) {
        /* For mobile phones */
        .full-width-mob {
            width: 100%;
        }
        .some-full-width{
            width: 100%;
            text-align: center;
        }
    }
    @media only screen and (max-width: 992px) {
      /* For Tablets Only */
      .full-width-tab {
          width: 100%;
      }
      
  }
  /* Link for products description */
  .description{
    text-decoration: none;
    font-weight: 600;
    font-size: small;
    color: gray;
  }
  .description:hover{
    text-decoration: underline;
  }
  /* Link for product address */
  #address{
    text-decoration: none;
  }
     /* Customize the scrollbar */
     ::-webkit-scrollbar {
        width: 8px;
      }
  
      /* Track */
      ::-webkit-scrollbar-track {
        background: white;
        border-radius: 10px;
      }
  
      /* Handle */
      ::-webkit-scrollbar-thumb {
        background: gray;
        border-radius: 10px;
      }
    
